@model IEnumerable<Recipe.Models.RecipeM>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mt-5">Index</h1>

<div class="container mt-4">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card recipe-card">
                    <img class="card-img-top" src="img/bg-img/r1.jpg" alt="Recipe Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </p>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
